<div *ngIf="workHistory">
    <div className="workhistory">
        <h2>{{workHistory}}</h2>
        <ul className="workhistorylist">
            <li *ngFor="let work of workHistory">
                <h4 className='title'>{{work.title}}</h4>
                <b className="company">{{work.company}}</b>
                <p className="location">{{work.location}}</p>
                <p className="date">{{work.date}}</p>
                <p className="overview">{{work.overview}}</p>
                <ul className="workDescription">
                    <li *ngFor="let workDescription of work.description">
                        <p>{{workDescription}}</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>    
</div>
